<div class="container proposal-pn">
  <h1>New Proposal</h1>

  <div class="">
    <form (ngSubmit)="createProposal(proposal)" #proposalForm="ngForm">
      <div class="form-group">
        <label for="customer">Customer Name</label>
        <input type="text"
                id="customer"
                placeholder="ABC Company"
                required
                name="customer"
                #customer='ngModel'
                [(ngModel)]="proposal.customer">
      </div>

      <div [hidden]="customer.valid || customer.pristine">
        Customer name is required
      </div>

      <div class="form-group">
        <label for="portfolio_url">Portfolio URL</label>
        <input type="text"
                id="portfolio_url"
                placeholder="http://"
                required
                name="portfolio_url"
                #portfolio_url='ngModel'
                [(ngModel)]="proposal.portfolio_url">
      </div>

      <div [hidden]="portfolio_url.valid || portfolio_url.pristine">
        Portfolio name is required
      </div>

      <div class="form-group">
        <label for="tools">Tools to be used</label>
        <input type="text"
                id="tools"
                placeholder="Ruby on Rails, Angular &amp; Postgres"
                required
                name="tools"
                #tools='ngModel'
                [(ngModel)]="proposal.tools">
      </div>

      <div [hidden]="tools.valid || tools.pristine">
        Tools is required
      </div>

      <div class="form-group">
        <label for="estimated_hours">Estimated Hours</label>
        <input type="number"
                id="estimated_hours"
                placeholder=""
                required
                name="estimated_hours"
                #estimated_hours='ngModel'
                [(ngModel)]="proposal.estimated_hours">
      </div>

      <div [hidden]="estimated_hours.valid || estimated_hours.pristine">
        Estimated hours is required
      </div>

      <div class="form-group">
        <label for="hourly_rate">Hourly Rate</label>
        <input type="number"
                id="hourly_rate"
                placeholder=""
                required
                name="hourly_rate"
                #hourly_rate='ngModel'
                [(ngModel)]="proposal.hourly_rate">
      </div>

      <div class="form-group">
        <label for="weeks_to_complete">Weeks to complete</label>
        <input type="number"
                id="weeks_to_complete"
                placeholder=""
                required
                name="weeks_to_complete"
                #weeks_to_complete='ngModel'
                [(ngModel)]="proposal.weeks_to_complete">
      </div>

      <button type="submit" name="button" class="btn btn-outline-info btn-lg"
        [disabled]="!proposalForm.form.valid"
        [hidden]="submitted">
        Generate Proposal
      </button>

      <div [hidden]="!submitted" class="alert alert-success" role="alert">
        Your proposal has been generated <a href="#" class="alert-link" routerLink="/proposals">View all proposals</a>
      </div>
    </form>
  </div>

  <div class="">
    <p>Hi {{proposal.customer }},</p>

    <p>I will be using {{proposal.tools}}. Examples of my previous work can be viewed at {{proposal.portfolio_url}}</p>

    <p>I'm estimating it will take {{proposal.estimated_hours}}. The project will take approximately {{proposal.weeks_to_complete}}
    with an hourly rate of {{proposal.hourly_rate}}/hour. The cost is {{proposal.estimated_hours * proposal.hourly_rate}} (excl Vat)</p>

  </div>
</div>
